DATABASE_URL=
NEXT_PUBLIC_SITE_URL=https://pablopupo.com
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://127.0.0.1:3100
ADMIN_GITHUB_ID=145598901
BLOB_READ_WRITE_TOKEN=
BLOB_STORE_ID=
VERCEL_OIDC_TOKEN=
